<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Required for Android 11+ to see UPI apps -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:label="VES Canteen"
        android:icon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.VesCanteen"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".OrderConfirmationActivity" />

    </application>
</manifest>
